.footer__contact {
	position: absolute;
    top: -110px;
    right: 10%;
    display: block;
    width: 140px;
    margin: 0 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;

	& * {display: block;}

	@include query-xsmall {
	    width: 160px;
	    right: 16%;
	    margin: 0;
	}

	@include query-small {width: 180px;}

	@include query-medium {
	    top: -140px;
    	width: 240px;
	}

	@include query-large {width: 240px;}
}

.footer__cta {
	margin: .2em 0 .1em;
	text-align: center
}