%gallery-placeholder {
	height: multiply($baseline, 8);
	margin-bottom: multiply($baseline, 2);

	@include query-xsmall {height: multiply($baseline, 14);}
	@include query-small {height: multiply($baseline, 16);}
	@include query-medium {height: multiply($baseline, 18);}
	@include query-large {height: multiply($baseline, 22);}
	@include query-xlarge {height: multiply($baseline, 26);}
}

.gallery__wrapper {
	@extend %gallery-placeholder;

	left: 0;
	right: 0;
}

.gallery {
	@extend %gallery-placeholder;

	position: relative;
	left: 0;
	right: 0;
	background-color: #f7f7f7;
}
.gallery__shim {
	@extend %gallery-placeholder;

	position: relative;
}

.gallery__item {
	display: flex;
	height: 100%;
	width: 81%;
	margin: 0;
	overflow: hidden;
}

.gallery__image {
	width: 100%;
	display: block;
	align-self: center;
}

.flickity-prev-next-button {
	display: none;

	@include query-small {display: block;}
}