.portrait-wrapper {
	display: inline-block;
	position: relative;
}

.portrait-wrapper--footer {
	@extend .portrait-wrapper;

	width: 100%;
}

.portrait {
	display: block;
	width: 100%;
	border-radius: 50%;
}

#logo-accent {
	display: block;
	position: absolute;
	top: -20px;
	right: -15%;
	width: 30%;
	opacity: .125;

	svg {fill: $color-primary;}

	@include query-xsmall {right: -10%;}

	@include query-medium {width: 28%;}

	@include query-large {width: 26%;}

	@include query-xlarge {width: 24%;}
}