.portrait-wrapper {
	display: inline-block;
	position: relative;
}

.portrait-wrapper--footer {
	@extend .portrait-wrapper;

	width: 100%;
}

.portrait {
	display: block;
	width: 100%;
	border-radius: 50%;
}

#logo-accent {
	display: block;
	position: absolute;
	top: -20px;
	right: -15%;
	width: 30%;
	opacity: .125;

	svg {fill: $color-primary;}

	@include query-xsmall {right: -10%;}

	@include query-medium {width: 28%;}

	@include query-large {width: 26%;}

	@include query-xlarge {width: 24%;}
}

.alignright {
	@include float(right);
    @include margin-right(-35%);
    @include margin-left($baseline);
    width: 600px;
    height: auto;
}

.alignleft {
	@include float(left);
    @include margin-left(-35%);
    @include margin-right($baseline);
    width: 600px;
    height: auto;
}

.aligncenter {
	display: block;
	margin: 0 auto;
	padding-top: $baseline;
	padding-left: multiply($baseline, .75);
	padding-right: multiply($baseline, .75);
}
