.social {
	@include padding-right(2rem);

	display: inline-block;
	width: 75%;
	margin: 0 auto;
	margin-bottom: calc(#{$baseline * 2});

	@include query-xsmall {
		width: 50%;
		margin: 0;
	}

	@include query-small {width: 40%;}
}

.social__item {
	display: flex;
	transition: $transition-medium;
	color: #fff;
	text-decoration: none;
	opacity: .8;
	align-items: center;
	margin-bottom: calc(#{$baseline / 2});
	border: 0;

	&:hover,
	&:focus,
	&:active,
	&:active:hover,
	&:active:focus {
		transition: $transition-medium;
		opacity: 1;

		.social__icon {
			transition: $transition-medium;
			background-color: darken($color-primary, 10%);
		}
	}
}

.social__icon {
	@include margin-right(1rem);

	display: flex;
	width: calc(#{$baseline * 2});
	height: calc(#{$baseline * 2});
	padding: .75rem;
	transition: $transition-slow;
	border-radius: 50%;
	align-items: center;

	svg {
		display: block;
		width: calc(#{$baseline * 2});
		height: calc(#{$baseline * 2});
		fill: #fff;
	}
}

.social__label {
	display: inline-block;
}