.lead {
    font-family: $font-sans;
    font-weight: 300;
    max-width: 34ex;
}

.fancy-amp {
    font-family: 'Sorts Mill Goudy', serif;
    font-style: italic;
}

footer {
    @include secondary-font;

    display: none;
    margin: 1rem;
    color: #fff;
    font-size: .75em;
    text-align: center;
    opacity: .5;
}

a {
    color: darken($color-primary, 10%);
    text-decoration: none;
    font-weight: 500;
    border-bottom: 3px solid lighten($color-primary, 35%);
    transition: $transition-medium;

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        transition: $transition-medium;
        border-color: $color-primary;
    }
}