// Font Mixins
@mixin primary-font {
  font-family: $primary-font-stack;
  font-style: normal;
  font-weight: 400;
}

@mixin primary-font-italic {
  font-family: $primary-font-stack-italic;
  font-style: italic;
  font-weight: 400;
}

@mixin primary-font-semibold {
  font-family: $primary-font-stack-semibold;
  font-style: normal;
  font-weight: 500;
}

@mixin primary-font-semibold-italic {
  font-family: $primary-font-stack-semibold-italic;
  font-style: italic;
  font-weight: 500;
}

@mixin primary-font-bold {
  font-family: $primary-font-stack-bold;
  font-style: normal;
  font-weight: 600;
}

@mixin primary-font-bold-italic {
  font-family: $primary-font-stack-bold-italic;
  font-style: italic;
  font-weight: 600;
}
// Clearfix
@mixin clearfix {
  &::before,
  &::after {
    display: table;
    content: ' ';
  }

  &::after {clear: both;}
}

// Media Queries 

// 420 and above
@mixin query-xsmall {
  @media only screen and (min-width: #{$bp-xsmall}) {
    @content
  }
}

// 768px and above
@mixin query-small {
  @media only screen and (min-width: #{$bp-small}) {
    @content
  }
}

// 992px and above
@mixin query-medium {
  @media only screen and (min-width: #{$bp-medium}) {
    @content
  }
}
// 1200px and above
@mixin query-large {
  @media only screen and (min-width: #{$bp-large}) {
    @content
  }
}
// 1440px and above
@mixin query-xlarge {
  @media only screen and (min-width: #{$bp-xlarge}) {
    @content
  }
}
// 2000 and above
@mixin query-xxlarge {
  @media only screen and (min-width: #{$bp-xxlarge}) {
    @content
  }
}

// CSS Transitions 
@mixin transition-fast {transition: $animation-transition-fast;}

@mixin transition-medium {transition: $animation-transition-medium;}

@mixin transition-slow {transition: $animation-transition-slow;}

@mixin transition-none {transition: none;}
