// Font Variables
$primary-font-stack: 'signalistregular', 'bitterregular', Georgia, serif;
$secondary-font-stack: 'Work Sans', Helvetica, Arial, sans-serif;
// $secondary-font-stack-italic: 'bitteritalic', Georgia, serif;
// $secondary-font-stack-bold: 'bitterbold', Georgia, serif;
$monospace-font: Courier, monospace;

$baseline: 1.71429em;			// 1.375 		= 22px
								// 1.71429em 	= 27.42864px

// Your settings for Typesettings :)
$font-sans: $secondary-font-stack;
$font-serif: $primary-font-stack;
$font-mono: 'Lucida Console', Monaco, monospace;
$text-color: #000;
$base-vertical-unit: 6px;	// Default is 6px
$base-line-multi: 4; 		// Default is 4
$base-font-size: 14px; 		// Default is 16px
$ms-ratio: 1.5;			// Default is 1.414
$paragraph-indent: true;
$paragraph-justify: true;
$load-typesetted: true;

// Breakpoints 
$bp-xsmall:   32rem;   	  // 512px
$bp-small:    48rem;      // 768px
$bp-medium:   62rem;      // 992px
$bp-large:    75rem;      // 1200px
$bp-xlarge:   90rem;      // 1440px
$bp-xxlarge:  125rem;     // 2000px

// Animations 
$transition-none:     all 0s ease-in-out;
$transition-fast:     all .1s ease-in-out;
$transition-medium:   all .3s ease-in-out;
$transition-slow:     all .5s ease-in-out;
