// Font Variables
$primary-font-stack: 'signalistregular', 'bitterregular', Georgia, serif;
$primary-font-stack-italic: 'open_sansitalic', 'Open Sans', Helvetica Oblique, sans-serif;
$primary-font-stack-semibold: 'open_sanssemibold', 'Open Sans', Helvetica, sans-serif;
$primary-font-stack-semibold-italic: 'open_sanssemibold_italic', 'Open Sans', Helvetica Oblique, sans-serif;
$primary-font-stack-bold: 'open_sansbold', 'Open Sans', Helvetica, sans-serif;
$primary-font-stack-bold-italic: 'open_sansbold_italic', 'Open Sans', Helvetica Oblique, sans-serif;
$monospace-font: Courier, monospace;
$base-font-size: .875rem;

// Breakpoints 
$bp-xsmall:   26.25rem;   // 420px
$bp-small:    48rem;      // 768px
$bp-medium:   62rem;      // 992px
$bp-large:    75rem;      // 1200px
$bp-xlarge:   90rem;      // 1440px
$bp-xxlarge:  125rem;     // 2000px

// Animations 
$transition-none:     all 0s ease-in-out;
$transition-fast:     all .1s ease-in-out;
$transition-medium:   all .3s ease-in-out;
$transition-slow:     all .5s ease-in-out;
