$container-padding: 1.375rem 2.75rem;

.l-container {
	display: flex;
	padding: $container-padding;
	flex-wrap: wrap;
}

.l-container--fluid {
	@extend .l-container;

	width: 100%;
}

.l-container--center {
	@extend .l-container;

	width: 100%;
	justify-content: center;
}