.l-section--hero {
	display: block;
	margin: 0;
	padding: calc(#{$baseline} * 2) $baseline calc(#{$baseline} * 3);
  background-image: url("img/cutting-board.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: inherit;

    // &::after {				// overlay secondary color over hero image
    // 	display: block;
    // 	content: ' ';
    // 	position: absolute;
    // 	top: 0;
    // 	left: 0;
    // 	background-color: $color-secondary;
    // 	width: 100%;
    // 	height: 100%;
    // 	opacity: .05;
    // }

	@include query-small {
		padding: calc(#{$baseline} * 4) calc(#{$baseline} * 2) calc(#{$baseline} * 5);
		background-attachment: fixed;
	}
	@include query-medium { padding: calc(#{$baseline} * 4) calc(#{$baseline} * 2) calc(#{$baseline} * 5);}
}

.hero-group {
	display: block;
	text-align: center;

	@include query-medium {
		display: flex;
		align-items: flex-end;
		text-align: left;
	}
}

.hero-logo__wrapper {
	display: block;
	position: relative;
	margin-bottom: divide($baseline, 2);

	@include query-medium {width: 358px;}
}

.hero-logo {
	width: 100%;
	height: auto;
	fill: #000;

	@include query-small {height: 220px;}
	@include query-medium {height: 240px;}
	@include query-large {height: 280px;}
}

.lead {
	display: block;
  max-width: 34ex;
	padding-left: 0;
	padding-bottom: 0;
	font-family: $font-sans;
  font-weight: 300;

	@include query-medium {
		display: inline-block;
		padding-left: 1em;
		padding-bottom: $baseline;
		margin-bottom: 0;
	}
}

.homepage__quote {
	text-align: center;
	max-width: 60ex;
	font-weight: 300;
	margin: 3rem 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	p,
	blockquote {font-weight: 300;}

	@include query-small {margin: 7rem 0;}

	@include query-medium {font-weight: 200;}
}
