.l-section,
%l-section {
	position: relative;
	width: 100%;

	&::before {
		content: " ";
		position: absolute;
		height: 10rem;
		top: calc(#{$baseline} * -1.25);
		left: -200%;
		right: -200%;
		transform: skewY(-3deg);
		z-index: -1;

		@include query-medium {top: calc(#{$baseline} * -1.75);}
		@include query-large {top: calc(#{$baseline} * -2);}
	}
}

.l-section__content {
	display: block;
	width: 100%;
	margin: -2px 0 0;
}

.l-section--primary {
	@extend %l-section;

	&::before {background-color: $color-primary;}

	.l-section__content {background-color: $color-primary;}

	.section__angle {fill: $color-primary;}

	h1, h2, h3, h4, h5, h6, p {color: #fff;}
}

.l-section--secondary {
	@extend %l-section;

	.l-section__content {background-color: $color-secondary;}

	.section__angle {fill: $color-secondary;}
}

.l-section--light-gray {
	@extend %l-section;

	.l-section__content {background-color: $color-light-gray;}

	.section__angle {fill: $color-light-gray;}
}
